<div class="min-h-screen bg-gradient-to-b from-black to-zinc-900 p-4 text-white md:p-8">
  <div class="mx-auto max-w-4xl">
    <div
      class="rounded-lg border text-card-foreground overflow-hidden border-zinc-800 bg-zinc-900/50 shadow-xl backdrop-blur">
      <app-header />
      <div class="p-0">
        <div class="flex gap-4 flex-col md:flex-row">
          <app-new-investment [investmentCreated]="newInvestment" (firstInvestment)="getFirstInvestment($event)"
            class=" w-full border-b border-zinc-800 p-6 md:border-b-0 md:border-r md:w-1/3" />
          <app-show-investment [allYear]="calculateInterestPerYear(newInvestment)"
            class="w-full p-2 max-h-[500px]  overflow-auto md:w-2/3 scroll-smooth tr" />
        </div>
      </div>
    </div>
  </div>
</div>